# Ignore node_modules directory
node_modules/

# Ignore log files and error reports
logs/
*.log
npm-debug.log*

# Ignore environment files
.env

# Ignore build artifacts
dist/
build/

# Ignore local configuration files
config/local.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependencies and lock files
package-lock.json
yarn.lock
